<h1>About </h1>
<p>
  <%= link_to 'Back to Welcome page', welcome_path %>
</p>
<%= image_tag 'BillyGoat.jpg', class: 'w-100 rounded-circle shadow-lg d-block mx-auto', style: 'max-width: 32rem;' %>
<p> My name is Shalin Maria and I am a Computer Science Major
at the University of Memphis. </p>